body {
  min-width: 215px;
  height: 400px;
  padding: 20px;
  margin: 0;
  background-color: #292a2d;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.filter-container {
  display: flex;
  justify-content: center;
}

.filter-input {
  font-size: 16px;
  border-radius: 15px;
  border: 1px solid #282828;
  padding: 5px 10px;
  width: calc(100% - 20px);
  box-sizing: border-box;
  background-color: #282828;
  color: #c0c1c1;
}

.filter-input::placeholder {
  color: #c0c1c1;
}

.filter-input:hover {
  background-color: #373737;
}

.filter-input:focus-visible {
  background-color: #282828;
  outline: 1px solid #a8c7fa;
}

.error-text {
  padding: 10px;
  text-align: center;
  color: tomato;
  display: none;
  margin: 0;
  border: 1px solid tomato;
}

.buttons-container {
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.button-container {
  position: relative;
}

.button {
  font-size: 8.5px;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 5px;
  cursor: pointer;
  background-color: #292a2d;
  color: #99b4e1;
  border: 1px solid #047db7;
}

.button:hover {
  background-color: #38393b;
}

.delete-btn {
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  display: none;
  cursor: pointer;
  font-size: 11px;
  padding: 1.5px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  width: 12px;
  height: 12px;
}

.delete-btn:hover {
  color: white;
  background-color: #e3e3e314;
}

.delete-mode-on {
  display: block;
}

.visualizer-container {
}

.volume-container {
  width: calc(100% - 20px);
  padding: 10px;
}

.volume-range {
  width: 100%;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: #a8c7fa;
  outline: none;
  transition: background 0.3s ease;
}

/* Thumb (circle) styling */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #062e6f;
  cursor: pointer;
  margin-top: -2px; /* Centers the thumb */
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #062e6f;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #062e6f;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  display: none;
  pointer-events: none;
}

.display-tooltip {
  display: block;
}

.edit-buttons-container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.add-button {
  cursor: pointer;
  background-color: #292a2d;
  color: #99b4e1;
  border: 1px solid #047db7;
  padding: 4px 8px;
  border-radius: 100px;
  line-height: 20px;
  font-size: 81.25%;
  font-weight: 600;
  width: 91px;
}

.add-button:hover {
  background-color: #38393b;
}

.add-button:disabled {
  cursor: auto;
  pointer-events: none;
  color: #e3e3e361;
  border: 1px solid #e3e3e31f;
  background-color: transparent;
}

.remove-button {
  cursor: pointer;
  background-color: #292a2d;
  color: #99b4e1;
  border: 1px solid #047db7;
  padding: 4px 8px;
  border-radius: 100px;
  line-height: 20px;
  font-size: 81.25%;
  font-weight: 600;
  width: 91px;
}

.remove-button:hover {
  background-color: #38393b;
}

.add-button-modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.add-button-modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 85%;
  height: 200px;
}

.add-button-modal {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #292a2d;
  box-shadow: color-mix(in srgb, black 30%, transparent) 0 1px 2px 0,
    color-mix(in srgb, black 15%, transparent) 0 2px 6px 2px;
  border-radius: 8px;
  margin: auto;
}

.add-button-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  padding: 25px 0 0 0;
}

.add-button-sound-name-input {
  border-radius: 15px;
  border: 1px solid #282828;
  padding: 6.5px 10px;
  width: 109px;
  box-sizing: border-box;
  background-color: #282828;
  color: #c0c1c1;
  text-align: center;
}

.add-button-sound-name-input::placeholder {
  color: #c0c1c1;
}

.add-button-sound-name-input:hover {
  background-color: #373737;
}

.add-button-sound-name-input:focus-visible {
  background-color: #282828;
  outline: 1px solid #a8c7fa;
}

.add-button-sound-file-label {
  cursor: pointer;
  background-color: #292a2d;
  color: #99b4e1;
  border: 1px solid #047db7;
  padding: 4px 8px;
  border-radius: 100px;
  line-height: 20px;
  font-size: 81.25%;
  font-weight: 600;
  width: 91px;
  text-align: center;
}

.add-button-sound-file-label:hover {
  background-color: #38393b;
}

.add-button-sound-file-input {
  display: none;
}

.add-button-submit-btn {
  cursor: pointer;
  background-color: #292a2d;
  color: #99b4e1;
  border: 1px solid #047db7;
  padding: 4px 8px;
  border-radius: 100px;
  line-height: 20px;
  font-size: 81.25%;
  font-weight: 600;
  width: 109px;
  text-align: center;
}

.add-button-submit-btn:hover {
  background-color: #38393b;
}

.add-button-message-container {
  text-align: center;
  padding: 0 15px;
  position: absolute;
  bottom: 10px;
}

.add-button-message-container.success {
  color: #4caf50;
}

.add-button-message-container.error {
  color: #f44336;
}

.add-button-modal-close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #ccc;
  cursor: pointer;
  font-size: 11px;
  padding: 1.5px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  width: 12px;
  height: 12px;
}

.add-button-modal-close-btn:hover {
  color: white;
  background-color: #e3e3e314;
}

/* Scroller styles */
/* Webkit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #333;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #555 #333;
}

/* For Edge and Internet Explorer */
::-ms-scrollbar {
  width: 12px;
}

::-ms-scrollbar-track {
  background: #333;
}

::-ms-scrollbar-thumb {
  background-color: #555;
  border-radius: 6px;
}

/* Keyframes for shaking animation */
@keyframes tremble {
  0%,
  100% {
    transform: rotate(0deg);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: rotate(-5deg);
  }
  20%,
  40%,
  60%,
  80% {
    transform: rotate(5deg);
  }
}

/* Apply shake animation */
.tremble-in-fear {
  animation: tremble 0.85s infinite ease-in-out;
}
